/* === Work Sans local === */
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

